{% include 'nav.html' %}
{% load static %}

<!DOCTYPE html>

<!-- Created By CodingNepal -->


<html lang="en" dir="ltr">
   <head>
      {% load static%}
      
      <meta charset="utf-8">
      
      <link rel="stylesheet" href="{% static 'css/style.css'  %}" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <script type="text/javascript" src="{% static 'js/java.js' %}" ></script>
   
   <body>
      <div class="wrapper">
       
         <div class="title-text">
            <div class="title login">
               Login Form
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         
            <div class="form-inner">
               <form name="signinform" method="POST" action="" class="login" >
                  {% csrf_token %}
                  
                  
                  <div class="field">
                     <input type="text" placeholder="username" name="un" pattern="(?=.*[A-Z]).{8,}" title="enter your roll number" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password" name="password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="enter correct password or else click on forget password" required>
                  </div>
                  <div class="pass-link">
                     <a href="forget\">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                       
                    <input href="" type="submit" value="Login" > 
                     
                  </div>
               
                  <div class="signup-link">
                     Not yet Registered? <a href="signup.html">Signup now</a>
                  </div>
                   
               </form>
               
               
                 
               
            </div>
         </div>
      </div>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>
   </body>
</html>